

<style type="text/css">
.square {
  /*background-color: white;*/

  background-color: #BFD3D3;
  border-width: 0.2em;
  border-color: black;
  border-style: solid;
  height: 4em;
  width: 4em;
  /*font-size: 0.1em;*/
  word-wrap: break-word;
  display: block;

  /*


  height: 5em;
  max-width: 5em;
  width: 5em;
  max-width: 5em;


  text-align: center;
  display: inline-block;*/

  /*padding: 0.1em;*/
  /*width: 5em;
  height: 5em;

  border-width: 0.2em;
  max-width: 5em;
  max-height: 5em;
  min-width: 5em;
  color: white;
  border-style: solid;*/
}

.number {
  background-color: red;
  border-top-style: none;
}

.sq-selected {
  background-color: #86aaaa;
}

.sq-mine {
  background-color: #225f5f;
  color: white;
}


.board {
  font-size: 7px;
  /*width: 100em;*/
  /*height: 50em;*/
  word-wrap: break-word;
  /*padding: 2em;*/
  /*margin: 3em;*/
  /*float: none;*/
  /*float: left;*/
  /*overflow-x: scroll;*/
}



.vertical-team {
  height: 44em;
  width: 4em;
  background-color: white;
}

.team {
  font-size: 7px;
  background-color: white;
  height: 4em;
  width: 44em;

  /*background-image: url("./assets/img/panthers.jpeg");*/
}
.empty-block {
  font-size: 7px;
  height: 4em;
  width: 4em;
}
.team-text {
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.vertical-text {
  font-size: 20px;
  -o-transform: rotate(-90deg) translate(-8em, -.5em);
   -moz-transform: rotate(-90deg) translate(-8em, -.5em);
   -webkit-transform: rotate(-90deg) translate(-8em, -.5em);
   -ms-transform: rotate(-90deg) translate(-8em, -.5em);
   transform: rotate(-90deg) translate(-8em, -.5em);
  word-wrap: normal;
  display: inline-block;
}

.ground-zero {
  background-color: white;
}
</style>


<div class="grid-block align-center shrink">
  <div class="empty-block"></div>
  <div class="team">
    <div class="team-text">Home</div>
  </div>
</div>

<div class="grid-block align-center board">
  <div class="grid-block shrink">
    <div class="vertical-team">
      <div class="team-text vertical-text ">Away</div>
    </div>

  </div>
  <div ng-repeat="x in [0,1,2,3,4,5,6,7,8,9,10]" >
    <div ng-repeat="y in [0,1,2,3,4,5,6,7,8,9,10]" >
      <div id="{{x}}:{{y}}"
          ng-click="isNumber(x,y) || clickit(x,y)"
          ng-class="squares[x][y].style"
          >
        <span>
          {{squares[x][y].name}}
        </span>

        <div ng-show="isNumber(x,y)" class="ng-show">
          <select name="" id="">
            <option value="0">0</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
          </select>
        </div>

      </div>
    </div>
  </div>
</div>
