---
name: home
url: /
controller: squaresCtrl
---
<!-- <link rel="import" href="../../assets/polymer/squares-number-dropdown.html"> -->

<div id="3-col-body" class="grid-block" ng-controller="squaresCtrl">
  <!-- <div id="left-panel" class="grid-block">
    This is the left panel content
  </div> -->
  <div id="middle-panel" class="grid-block vertical">
    <div class="grid-block align-center shrink">
      <label>
        <input type="text" placeholder="Enter Name" ng-model="name" ng-keyup="repaint()">
      </label>
      <!-- <paper-input label="Input label"></paper-input> -->
    </div>

    <!-- <squares-number-dropdown></squares-number-dropdown> -->
    <div ng-include src="'components/squares/_board.html'"></div>

  </div>
</div>
