---
name: home
url: /
controller: squaresCtrl
---


<div id="3-col-body" class="grid-block" ng-controller="squaresCtrl">
  <!-- <div id="left-panel" class="grid-block">
    This is the left panel content
  </div> -->
  <div id="middle-panel" class="grid-block vertical">
    <div class="grid-block align-center shrink">
      <label>
        <input type="text" placeholder="Enter Name" ng-model="name" ng-keyup="repaint()">
      </label>
    </div>

    <div ng-include src="'components/squares/_board.html'"></div>
    <!-- <div class="grid-block sq-content squares-block-grid custom-container horizontal"> -->


    <!-- <div class="grid-block align-center shrink">
      <div id="order-content"  class="sqcontent">
        <div class="grid-frame squares-block-grid">
          <div ng-repeat="x in [0,1,2,3,4,5,6,7,8,9]" >
            <div ng-repeat="y in [0,1,2,3,4,5,6,7,8,9]" >
              <div id="{{x}}:{{y}}"
                  ng-click="clickit(x,y)"
                  ng-class="squares[x][y].style"
                  >
                <span class="sqtext">
                  {{squares[x][y].name}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 -->

  </div>
  <!-- <div id="right-panel" class="grid-block">
    This is the right panel content
  </div> -->



     <!--  <div class="grid-block  sq-square" >
        <div class="grid-content  center sq-square"></div>
      </div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
      <div class="grid-block sq-square" ></div>
    </div> -->







  <!-- </div> -->
</div>

